.calendar-parts-wrapper {
    position: relative;
    display: block;
    width: auto;
}

.calendar-parts-wrapper table {
    width: 100%;
}

.calendar-parts-wrapper th,
.calendar-parts-wrapper td {
    text-align: center;
    padding: 8px 8px;
    user-select: none;
}

.calendar-parts-wrapper .space {
    width: 32px;
    height: 32px;
}

.calendar-parts-wrapper .sun {
    color: #B5131D;
}

.calendar-parts-wrapper .sat {
    color: #13265F;
}

.calendar-parts-wrapper div.inner {
    position: relative;
    display: grid;
    place-items: center;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 25%;
    background: transparent;
    font-size: 0.8rem;
    margin: 0;
    z-index: 0;
}

.calendar-parts-wrapper div.inner::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: 25%;
    pointer-events: none;
    background: #2F323E;
    opacity: 0;
    transition: opacity .15s cubic-bezier(.4, 0, .6, 1);
    z-index: -2;
}

.calendar-parts-wrapper div.inner:hover::before {
    opacity: 0.05;
    transition: opacity .15s cubic-bezier(.4, 0, .6, 1);
}

.calendar-parts-wrapper div.inner::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: 25%;
    pointer-events: none;
    background: #13265F;
    opacity: 0;
    z-index: -1;
    transition: opacity .15s cubic-bezier(.4, 0, .6, 1);
}

.calendar-parts-wrapper div.inner.attention {
    transition: opacity .15s cubic-bezier(.4, 0, .6, 1);
    color: white;
}

.calendar-parts-wrapper div.inner.attention::before {
    opacity: 0;
}

.calendar-parts-wrapper div.inner.attention::after {
    opacity: 1;
}

.calendar-parts-wrapper div.inner.attention:hover::after {
    opacity: 0.5;
    transition: opacity .15s cubic-bezier(.4, 0, .6, 1);
}