/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site: 'chubby';
@reset: 'chubby';

/* Elements */
@button: 'chubby';
@container: 'chubby';
@divider: 'chubby';
@emoji: 'chubby';
@flag: 'chubby';
@header: 'chubby';
@icon: 'chubby';
@image: 'chubby';
@input: 'chubby';
@label: 'chubby';
@list: 'chubby';
@loader: 'chubby';
@placeholder: 'chubby';
@rail: 'chubby';
@reveal: 'chubby';
@segment: 'chubby';
@step: 'chubby';
@text: 'chubby';

/* Collections */
@breadcrumb: 'chubby';
@form: 'chubby';
@grid: 'chubby';
@menu: 'chubby';
@message: 'chubby';
@table: 'chubby';

/* Modules */
@accordion: 'chubby';
@calendar: 'chubby';
@checkbox: 'chubby';
@dimmer: 'chubby';
@dropdown: 'chubby';
@embed: 'chubby';
@flyout: 'chubby';
@modal: 'chubby';
@nag: 'chubby';
@popup: 'chubby';
@progress: 'chubby';
@slider: 'chubby';
@rating: 'chubby';
@search: 'chubby';
@shape: 'chubby';
@sidebar: 'chubby';
@sticky: 'chubby';
@tab: 'chubby';
@toast: 'chubby';
@transition: 'chubby';

/* Views */
@ad: 'chubby';
@card: 'chubby';
@comment: 'chubby';
@feed: 'chubby';
@item: 'chubby';
@statistic: 'chubby';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder: 'themes';

/* Path to site override folder */
@siteFolder: 'site';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";
@import "site.variables";

/* End Config */
